html {
  box-sizing: border-box;
  background: #ffc600;
  font-family: 'helvetica neue';
  font-size: 20px;
  font-weight: 200;
}

body {
  margin: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.panels {
  min-height: 100vh;
  overflow: hidden;
  display: flex;
}

.panel {
  background: rgb(79, 231, 193);
  box-shadow: inset 0 0 0 5px rgba(255,255,255,0.1);
  color: white;
  text-align: center;
  align-items: center;
  /* Safari transitionend event.propertyName === flex */
  /* Chrome + FF transitionend event.propertyName === flex-grow */
  transition:
    font-size 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
    flex 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
    background 0.2s;
  font-size: 20px;
  background-size: cover;
  background-position: center;
  flex: 1;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.panel1 { background-image:url(https://scontent-sjc3-1.xx.fbcdn.net/v/t1.0-9/46762115_10216005717269459_3718606878427578368_n.jpg?_nc_cat=101&_nc_ht=scontent-sjc3-1.xx&oh=f85dd0df573862f4ba8d30fb214bd864&oe=5CD61535); }
.panel2 { background-image:url(https://source.unsplash.com/rFKUFzjPYiQ/1500x1500); }
.panel3 { background-image:url(https://scontent-sjc3-1.xx.fbcdn.net/v/t1.0-9/22046488_10212858678155448_8520396536083898557_n.jpg?_nc_cat=102&_nc_ht=scontent-sjc3-1.xx&oh=2da73160851918ddbc4baa54ee12e2de&oe=5C946E4B); }
.panel4 { background-image:url(https://scontent-sjc3-1.xx.fbcdn.net/v/t1.0-9/33693845_10214705903374924_3239919016508129280_n.jpg?_nc_cat=108&_nc_ht=scontent-sjc3-1.xx&oh=d1df24c376683133e5dbd52571c3c019&oe=5C8BE584); }
.panel5 { background-image:url(https://source.unsplash.com/3MNzGlQM7qs/1500x1500); }

/* Flex Items */
.panel > * {
  margin: 0;
  width: 100%;
  transition: transform 0.5s;
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.panel > *:first-child { transform: translateY(-100%); }
.panel.open-active > *:first-child { transform: translateY(0); }
.panel > *:last-child { transform: translateY(100%); }
.panel.open-active > *:last-child { transform: translateY(0); }

.panel p {
  text-transform: uppercase;
  font-family: 'Amatic SC', cursive;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
  font-size: 2em;
}

.panel p:nth-child(2) {
  font-size: 4em;
}

.panel.open {
  flex: 5;
  font-size: 40px;
}